# 10 minutes to pandas

首先导入 pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)

In [5]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [7]:
df

                   A         B         C         D
2013-01-01  0.499246 -1.107209 -0.765970 -0.457428
2013-01-02  0.478083  0.869858 -0.842146 -2.085864
2013-01-03  0.333373  0.370911 -1.197949  0.326860
2013-01-04 -0.060676  0.953008  1.650333 -0.273433
2013-01-05  0.368423 -2.104775 -0.463111  0.671447
2013-01-06  0.371875  0.304356  0.052940  0.947421

Creating a `DataFrame` by passing a dict of objects that can be converted to series-like.

In [8]:
df2 = pd.DataFrame({'A': 1.,
                'B': pd.Timestamp('20130102'),
                'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                'D': np.array([3] * 4, dtype='int32'),
                'E': pd.Categorical(["test", "train", "test", "train"]),
                'F': 'foo'})

In [9]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
df.head()

                   A         B         C         D
2013-01-01  0.499246 -1.107209 -0.765970 -0.457428
2013-01-02  0.478083  0.869858 -0.842146 -2.085864
2013-01-03  0.333373  0.370911 -1.197949  0.326860
2013-01-04 -0.060676  0.953008  1.650333 -0.273433
2013-01-05  0.368423 -2.104775 -0.463111  0.671447

In [12]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.060676  0.953008  1.650333 -0.273433
2013-01-05  0.368423 -2.104775 -0.463111  0.671447
2013-01-06  0.371875  0.304356  0.052940  0.947421

Display the index, columns:

In [13]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')