In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame([('bird', 'Falconiformes', 389.0),
                ('bird', 'Psittaciformes', 24.0),
                ('mammal', 'Carnivora', 80.2),
                ('mammal', 'Primates', np.nan),
                ('mammal', 'Carnivora', 58)],
            index=['falcon', 'parrot', 'lion', 'monkey', 'leopard'],
            columns=('class', 'order', 'max_speed'))

In [4]:
df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [5]:
grouped = df.groupby('class')

In [6]:
grouped